/**
*
*
*  @module         MPForm
*  @author         Frank Heyne, Dietrich Roland Pehlke, erpe
*  @license        see info.php of this addon
*  @platform       see info.php of this addon
*  @license terms  see info.php of this addon
*  @version        see info.php of this module
*
*
*/
.mpform {padding:30px 0 0 0;}
table {padding:0;}
input.module_edit_css {background: transparent none repeat scroll 0 0 !important;border: 1px solid #666 !important;border-radius: 5px !important;cursor: pointer;color: #666 !important;}
hr {margin-top: 10px;border-top: 1px solid #ccc;}
h4.ui.header {padding-left: 0px;}
.helppage {padding: 20px;padding-top: 0px;}
.helppage a {color:orange;}
input.helppage  {border: 1px solid #666;border-radius: 5px;margin-top: 0px !important;padding: 10px;background:green;cursor:pointer;}
input.lepsem_save {background: green none repeat scroll 0 0 !important;color: #fff !important;border: 0px solid #666 !important;border-radius: 5px !important;}
input.lepsem_reset {background: red none repeat scroll 0 0 !important;color: #fff !important;border: 0px solid #666 !important;border-radius: 5px !important;}
.settings_table td {padding: 10px;}
.settings_table textarea {width: auto;padding: 10px;}
.settings_table input[type="text"] {margin: 10px 0;min-width: 46%;}
.settings_table select {min-width: 46%;padding: 8px;}
.options_table tr td {padding: 10px;white-space: nowrap;}
.options_table input[type="checkbox"], .options_table input[type="radio"] {margin-left: 7px;margin-top: 13px;}
.adv_settings_table td {padding: 10px;}
.adv_settings_table textarea {width: auto;padding: 10px;}
.adv_settings_table input[type="text"] {margin: 10px 0;width: 100%;}
.adv_settings_table select {min-width: 46%;padding: 8px;}
input[type="submit"], input[type="reset"], input[type="button"] {color: #fff;}
.spacer1 {width: 100%;height: 10px;}
.spacer2 {width: 100%;height: 20px;}
.spacer3 {width: 100%;height: 30px;}
.spacer4 {width: 100%;height: 40px;}
/**
*  For TALGOS Backend menu
*/
#menu ul{top: 84px !important;}
#menu ul a {padding: 4px 8px 6px 8px !important;font-size: 12px !important;}
#content_container {margin-top: 0px;}
.delete_icon a:focus, .delete_icon a:hover, .delete_icon a:active {opacity:0.7;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media only screen and (max-width: 1220px) {
.container tr {display:table-row;padding:0 0 10px 0;}
.container td.single {display:table-cell;padding:0 0 10px 0;width:8%;}
.container td.single:nth-child(2) {width:26%;}
.container td.single:nth-child(3) {width:26%;}
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media only screen and (max-width: 767.98px) {
.ui.ui.ui.ui.table:not(.unstackable) > tbody > tr > td {padding: 10px 20px;border-bottom: 1px solid rgba(34,36,38,.15);}
}